<!DOCTYPE html>
<html ng-app="App"> 
<head> 
	<link rel="stylesheet" type="text/css" href="style.css">
</head> 
<body ng-controller="MainController"> 


	<div> 
		<input ng-model="number1"/> 
		<input ng-model="number2"/> 
		<button ng-click="addItUp()">Add Numbers</button> 
		<span class="displayAnswer" ng-bind="answer"></span> 
	</div> 
	<div> 
		<input ng-model="firstName"/> 
		<input ng-model="lastName"/> 
		<button ng-click="tryReturn()">Clock In</button> 
	</div> 

	<div class="clock-in-by-num">
		<input ng-model="employNum"/> 
		<button ng-click="clockIn()">Clock In by Employee Number</button>
		<div class="confirmation" ng-bind="inConfirm"></div> 
	</div> 


	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.1/angular.min.js"></script> 
	<script src="js/app.js"></script>
	<script src="js/Controller.js"></script>
	<script src="js/service.js"></script>
</body> 

</html> 
